{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}ABOUT{% endblock title %}
{% block body %}

<main class="main">
    <section class="section block-banner-about-1">
      <div class="container"> 
        <div class="text-center box-info-banner wow bounceIn">
          <h1>Believe in Our Quality <br class="d-none d-lg-block">and Luxurious Brands</h1>
        </div>
      </div>
    </section>
      <section class="section block-our-shop">
        <div class="container"> 
          <div class="text-center wow bounceIn"> 
            <p class="text-17-medium text-uppercase mb-15 primary-navy">our shop</p>
            <h3 class="mb-15">Focusing on Quality <br class="d-none d-lg-block">Material, Good Design</h3>
            <div class="box-slide-customers">
              <p class="body-p2 neutral-medium-dark">
                Dominate the pitch with our Pro-Performance Football Boots, engineered to unleash your full potential on the field. These high-performance boots are designed to provide superior control, agility, and comfort, helping you take your football game to the next level.
              </p>
          </div>
          <div class="row mt-60 wow bounceIn"> 
            <div class="col-lg-6"><img src="{% static 'img/hero/about-1.jpg' %}" alt="voxy"></div>
            <div class="col-lg-6"><img src="{% static 'img/hero/about-2.jpg' %}" alt="voxy"></div>
          </div>
        </div>
      </section>
      <section class="section block-icon-box"> 
        <div class="container"> 
          <div class="text-center"> 
            <h6 class="text-17-medium primary-navy text-uppercase mb-15 wow fadeInLeft">Our quality promise</h6>
            <h3 class="mb-65 wow fadeInRight">We Developed Products We Need</h3>
            <p class="body-p2 neutral-medium-dark">
                Elevate your style and comfort with our Classic Leather Ankle Boots. These versatile boots are the perfect blend of fashion and function, designed to make a statement while keeping your feet cozy in any season. Crafted with care and attention to detail, these boots are a must-have addition to your footwear collection.
            </p>          
        </div>
      </section>
  </main>

{% endblock body %}