{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}VOXY{% endblock title %}
{% block body %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option" style="margin-top: 90px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__text">
					<h4>Forgot Password</h4>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Breadcrumb Section End -->
	
<div class="contact-from-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="form-title">
					<h2>Forgot Password ?</h2>
					<p>Log in to your account to access our services.</p>
				</div>
				<div class="contact-form">
  
					<form method="POST" id="login-form" action="{% url 'user_forgot_password' %}">
						{% csrf_token %}
						<p>
							<input class="form-control"  type="email" placeholder="Email" name="email" id="email" required>
						</p>
						<p class="forgot-signup-links mb-2 mt-2">
							<a href="/user_login">Login</a> | <a href="{% url 'user_sign_up' %}">Sign Up</a> 
						</p>
						<p><input class="btn btn-black d-block" type="submit" value="SUBMIT"></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}

