{% extends 'user_temp/base.html' %} 
{% load static %} 
{% block title%}LOGIN{%endblock title %} 

{% block body %}





  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option" style="margin-top: 90px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h4>Login</h4>
            <div class="breadcrumb__links">
              <a href="/">Home</a>
              <span>Login</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 offset-lg-2   ">
                <div class="form-title">
                    <h2>Welcome!</h2>
                    <p>Log in to your account to access our services.</p>
                </div>
                <div class="contact-form form-group" >

                    <form method="POST" id="login-form" action="{% url 'user_login' %}">
                        {% csrf_token %}
                        <p class="form-group">
                            <input class="form-control" type="email" placeholder="Email" name="email" id="email" required>
                        </p>
                        <p class="form-group">
                            <input class="form-control" type="password" placeholder="Password" name="password" id="password" required>
                        </p>
                        <p class="forgot-signup-links">
                            <a href="/user_forgot_password">Forgot Password?</a> | <a href="{% url 'user_sign_up' %}">Sign Up</a> 
                        </p>
                        <p><input class="btn btn-black d-block" type="submit" value="Login"></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="bd-example">
                  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>WIDE RANGE OF BOOTS</h5>
                          {% comment %} <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> {% endcomment %}
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/banner/banner-2.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>FOOTBALLS</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/banner/banner-3.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>GOLVES</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
            </div>
        </div>
    </div>
  </div>

{% endblock body %}
