{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}PRODUCT DETAILS{% endblock title %}
{% block body %}

<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="/user_shop">Shop</a></li>
            <li> <a href="">{{ single_product.product_name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section block-product-single block-product-single-12">
        <form id="cartForm" action="{% url 'user_add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="detail-gallery detail-gallery-2">
                            <div class="box-main-gallery"><a class="zoom-image glightbox" href="{{single_product.product_images.url}}"></a>
                            <div class="product-image-slider product-image-slider-5">
                                {% if single_product.product_images %}
                                    <figure class="border-radius-10"><a class="glightbox" href="{{single_product.product_images.url}}"><img src="{{single_product.product_images.url}}" alt="kidify"></a></figure>
                                {% else %}
                                        <p>No image available</p>
                                {% endif %}

                                {% if single_product.product_image_1 %}
                                    <figure class="border-radius-10"><a class="glightbox" href="{{single_product.product_image_1.url}}"><img src="{{single_product.product_image_1.url}}" alt="kidify"></a></figure>
                                {% else %}
                                        <p>No image available</p>
                                {% endif %}
                                
                                {% if single_product.product_image_2 %}
                                    <figure class="border-radius-10"><a class="glightbox" href="{{single_product.product_image_2.url}}"><img src="{{single_product.product_image_2.url}}" alt="kidify"></a></figure>
                                {% else %}
                                        <p>No image available</p>
                                {% endif %}

                                {% if single_product.product_image_3 %}
                                    <figure class="border-radius-10"><a class="glightbox" href="{{single_product.product_image_3.url}}"><img src="{{single_product.product_image_3.url}}" alt="kidify"></a></figure>
                                {% else %}
                                        <p>No image available</p>
                                {% endif %}
                            </div>
                            </div>
                            <div class="slider-nav-thumbnails slider-nav-thumbnails-5">
                                <div>
                                    {% if single_product.product_images %}
                                        <div class="item-thumb"><img src="{{single_product.product_images.url}}" alt="kidify"></div>
                                    {% else %}
                                            <p>No image available</p>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if single_product.product_image_1 %}
                                        <div class="item-thumb"><img src="{{single_product.product_image_1.url}}" alt="kidify"></div>
                                    {% else %}
                                            <p>No image available</p>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if single_product.product_image_2 %}
                                        <div class="item-thumb"><img src="{{single_product.product_image_2.url}}" alt="kidify"></div>
                                    {% else %}
                                            <p>No image available</p>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if single_product.product_image_3 %}
                                        <div class="item-thumb"><img src="{{single_product.product_image_3.url}}" alt="kidify"></div>
                                    {% else %}
                                            <p>No image available</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-product-info">
                        <div class="product-title">
                            <h3 class="mb-5">{{ single_product.product_name}}</h3>
                        </div>
                            {% if single_product.discount_percentage or  single_product.category.offer%}
                            <div class="block-price"><span class="price-line">&#8377;&nbsp;{{ single_product.price }}</span><span class="price-main">&#8377;&nbsp;{{ single_product.discount_price}}</span></div>
                            {% else %}
                            <div class="block-price"><span class="price-main">&#8377;&nbsp;{{ single_product.price}}</span></div>
                            {% endif %}
                        {% if single_product.variation_set.sizes %}
                        <div class="block-size"><span>Size:</span>
                            <div class="product__details__option__size">
                                    {% for i in single_product.variation_set.sizes %}
                                    <label for="{{i.variation_value | lower}}" class="size-label">
                                        <input type="radio" id="{{i.variation_value | lower}}" name="size" value="{{i.variation_value | lower}}" required>
                                        {{i.variation_value | capfirst}}
                                    </label>
                                    {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if single_product.variation_set.colors %}
                        <div class="block-size"><span>Color:</span>
                            <div class="product__details__option__color">
                                    {% for i in single_product.variation_set.colors %}
                                    <label for="{{i.variation_value | lower}}" class="color-label">
                                        <input type="radio" id="{{i.variation_value | lower}}" name="color" value="{{i.variation_value | lower}}" required>
                                        {{i.variation_value | capfirst}}
                                    </label>
                                    {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="block-quantity">
                                {% if single_product.quantity <= 0 %}
                                    <a class="btn btn-black" style="background-color: red; color: white; border: none;" href="#">out of stock</a>
                                {% else %}
                                <button type="method" class="btn btn-black">Add to Cart</button>
                                {% endif %}

                                {% if single_product in wishlist_products %}
                                    <a class="btn btn-border"  href="{% url 'user_remove_wishlist' single_product.id %}"><i class="fa fa-times" style="color: red;"></i>&nbsp;&nbsp; Remove from wishlist</a>
                                {% else %}
                                <a class="btn btn-border"  href="{% url 'user_add_wishlist' single_product.id %}"><i class="fa fa-heart" style="color: red;"></i> add to wishlist</a>
                                    
                                {% endif %}

                            </div>
                        </div>
                        <div class="block-shipping">
                            <div class="free-shipping">Free shipping</div>
                            <div class="time-shipping">30 - Days Returns</div>
                        </div>
                        <div class="block-tags-product">
                            <p class="body-p2"><span class="neutral-medium-dark">Category:</span><a class="neutral-dark" href="#">{{single_product.category}}</a></p>
                        </div>
                        </div>
                    </div>
                    </div>
                    
                    <div class="box-detail-product">
                    <ul class="nav-tabs nav-tab-product" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews ({{review_count}})</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <p>{{ single_product.description}}</p>
                            
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="comments-area">
                                <div class="row">
                                    <div class="col-lg-12 mb-30">
                                        <h4 class="mb-30 title-question">Customer Reviews &amp; Ratings</h4>
                                        <div class="comment-list">
                                            {% if reviews %}
                                                {% for review in reviews %}
                                                    <div class="list-comments">

                                                        <div class="item-comment">
                                                        <div class="comment-image"><img src="{% static 'assets/imgs/page/blog/avatar.png'%}" alt="Guza"></div>
                                                        <div class="comment-info">
                                                            <div class="comment-info-top">
                                                            <div class="comment-author-name">{{review.user.first_name | capfirst}} {{review.user.last_name | capfirst}}
                                                                {% if review.user == current_user %}(you){% endif %}
                                                            </div>
                                                            <div class="comment-date">{{review.created_at}}</div>
                                                            </div>
                                                            <div class="comment-info-bottom">
                                                            <h5 class="body-p2">{{review.subject}}</h5>
                                                            <p class="body-p2">{{review.review}}</p>
                                                            </div>
                                                            <br>
                                                                {% if review.review_reply  %}
                                                                    <li>
                                                                        <p><strong>VOXY(admin):</strong>{{ review.review_reply }}</p>
                                                                    </li>
                                                                {% endif %}
                                                        </div>
                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                No reviews yet Be the first one to comment.
                                                <a class="link" href="#">click here to purchase</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if order_products %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                            Add your Review
                                        </button>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Write Your Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="block-form-comment">
                <form  method="POST" id="review_submit" action="{% url 'user_sumbit_review' single_product.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                            <input class="form-control" type="text" placeholder="Tittle" name="subject">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                            <textarea class="form-control" placeholder="Review" rows="5"  name="review" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-center mt-10">
                            <button type="submit" class="btn btn-red">Post Review</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

  

<script>
    const zoomableImages = document.querySelectorAll(".zoomable-image");
    
    function toggleZoom(imageElement) {
        imageElement.addEventListener("click", function() {
            if (!imageElement.classList.contains("zoomed")) {
                imageElement.style.transform = "scale(1.8)"; // Zoom in
                imageElement.classList.add("zoomed");
            } else {
                imageElement.style.transform = "scale(1)"; // Zoom out
                imageElement.classList.remove("zoomed");
            }
        });
    }
    
    zoomableImages.forEach(function(image) {
        toggleZoom(image);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script>

// Cart Form
document.getElementById('cartForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission

    swal({
        title: "Item Added to Cart",
        text: "The item has been added to your shopping cart.",
        icon: "success",
        buttons: {
            confirm: "OK",
        },
    }).then((value) => {
        if (value) {
            this.submit(); // Continue with the form submission
        }
    });
});

</script>
    
{% endblock body %}