{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}SHOP{% endblock title %}
{% block body %}

<main class="main">
    <section class="section block-banner-shop"> 
      <div class="container"> 
        <h1 class="text-56-medium">Shop</h1>
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="#">Shop</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section block-content-shop">
      <div class="container">
        <div class="shop-top-filter">
          <div class="left-filter"><a class="btn-open-filter" href="#">Filter</a></div>
          <div class="right-filter">
            <div class="box-filter-top"> 
              <div class="show-sm"> <a class="btn-open-filter" href="#">Filter </a></div>
              {% comment %} <div class="number-product"> 
                <p class="body-p2 neutral-medium-dark">Showing 9 of 18 products</p>
              </div> {% endcomment %}
              <div class="box-sort float-right"> 
                {% comment %} <div class="box-sortby d-flex align-items-center">
                  <div class="dropdown dropdown-sort">
                    <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">Default Sorting</button>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                      <li><a class="dropdown-item active" href="#">Default Sorting</a></li>
                      <li><a class="dropdown-item" href="#">Oldest products</a></li>
                      <li><a class="dropdown-item" href="#">Comments products </a></li>
                    </ul>
                  </div>
                </div> {% endcomment %}

                <form action="{% url 'search' %}" class="form-inline">
                    <div class="form-group">
                        <input class="form-control search-icon" type="text" placeholder="Search..." name="keyword" required>
                    </div>
                    <button type="submit" class="account-icon search">
                        <span class="icon_search"></span>
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-overlay"></div>
      <div class="block-filter-middle block-filter-canvas wrapper-popup">
        <div class="container">
          <div class="box-filters-sidebar"> 
            <h5 class="title-filter">Filter</h5>
            <div class="block-filter"> 
              <h6 class="item-collapse">Categories</h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox"> 
                    <li> 
                        <label class="cb-container">
                        <input ><span class="text-small"><a href="{% url 'user_shop' %}">All Products</a></span>
                        </label>
                    </li>
                    {% for category in links %}
                    {% if not category.soft_deleted %}
                        <li> 
                            <label class="cb-container">
                                <input ><span class="text-small"><a href="{{ category.get_url }}">{{ category.category_name}}</a></span>
                            </label>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
              </div>
            </div>
            {% comment %} <div class="block-filter"> 
              <h6 class="item-collapse">Colors </h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-colors"> 
                  <li class="active"> 
                    <div class="box-colors">
                      <div class="item-color color-4"></div>
                      <label>Blue</label>
                    </div>
                  </li>
                  <li>
                    <div class="box-colors">
                      <div class="item-color color-3"></div>
                      <label>Grey</label>
                    </div>
                  </li>
                  <li>
                    <div class="box-colors">
                      <div class="item-color color-5"></div>
                      <label>Red</label>
                    </div>
                  </li>
                  <li>
                    <div class="box-colors">
                      <div class="item-color color-6"></div>
                      <label>Yellow</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="block-filter"> 
              <h6 class="item-collapse">Size </h6>
              <div class="box-collapse scrollFilter">
                <div class="block-size">
                  <div class="list-sizes"><span class="item-size">XS </span><span class="item-size active">S </span><span class="item-size">M </span><span class="item-size">XL </span></div>
                </div>
              </div>
            </div>
            <div class="block-filter"> 
              <h6 class="item-collapse">Brand </h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox"> 
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">Adidas</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">Chloe</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">Kendo</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">Nike</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">Adidas</span><span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="block-filter"> 
              <h6 class="item-collapse">Price </h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox"> 
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">$50.00 - $99.00</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">$100.00 - $199.00</span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li> 
                    <label class="cb-container">
                      <input type="checkbox"><span class="text-small">$200.00 +</span><span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="box-view-style mb-5" style="position: absolute; bottom: 0;"> <a class="view-type view-2" href="#" data-col="2"></a><a class="view-type view-3 " href="#" data-col="3"></a><a class="view-type view-4 active" href="#" data-col="4"></a><a class="view-type view-5" href="#" data-col="5"></a></div>
      </div>
      <div class="container">
        {% comment %} <div class="box-your-filter box-your-filter-shop2">
          <div class="block-text-filter"><span class="body-p2 neutral-medium-dark">Your filter</span></div>
          <div class="block-ele-filter"><a class="btn btn-tag-filter" href="#">XS<span class="close-tag"></span></a><a class="btn btn-tag-filter" href="#">Women<span class="close-tag"></span></a><a class="clear-filter link-underline" href="#">Clear All</a></div>
        </div> {% endcomment %}
        <div class="box-list-products box-list-products-4 box-list-products-shop-2">
            {%if products %}
                {% for product in products %}
                    {% if not product.soft_deleted %}
                        <div class="product-item">
                            <div class="cardProduct wow fadeInUp">
                            <div class="cardImage"><a href="{{ product.get_url }}"><img class="imageMain" src="{{product.product_images.url}}" alt="voxly"><img class="imageHover" src="{{product.product_images.url}}" alt="voxly"></a>
                                <div class="button-select"><a href="{{ product.get_url }}">View Product</a></div>
                                <div class="box-quick-button">
                                    {% if product in wishlist_products %}
                                        <a class="btn " style="background-color: white;" href="{% url 'user_remove_wishlist' product.id %}">
                                            <svg class="d-inline-flex align-items-center justify-content-center " width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z" fill="red"></path>
                                            </svg>
                                        </a>
                                    {% else %}
                                        <a class="btn " style="background-color: white;" href="{% url 'user_add_wishlist' product.id %}">
                                            <svg class="d-inline-flex align-items-center justify-content-center " width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z" fill="black"></path>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="cardInfo"><a href="{{ product.get_url }}">
                                <h6 class="text-16-medium cardTitle">{{product.product_name}}</h6></a>

                                {% if product.discount_percentage or product.category.offer %}
                                <p class="body-p2 cardDesc"><span class="price-line"><s>&#8377;&nbsp;{{ product.price }}</s></span><br>
                                  <span class="price-main">&#8377;&nbsp;{{ product.discount_price}}</span>
                                </p>
                                {% else %}
                                <p class="body-p2 cardDesc"><span class="price-main">&#8377;&nbsp;{{ product.price}}</span></p>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                OOps No Result!!!!
            {% endif %}
        </div>
        <div class="text-center mt-50">
          <nav class="box-pagination">
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&larr;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&larr;</a></li>
                {% endif %}
    
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&rarr;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&rarr;</a></li>
                {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </section>
</main>

{% endblock body %}