{% extends 'user_temp/base.html' %}
{% block title %}CONTACT{% endblock title %}
{% block body %}

<main class="main">
    <section class="section banner-500">
      <div class="box-cover-image wow fadeInUp"></div>
      <div class="box-banner-info wow bounceIn"> 
        <p class="overline-t2-medium text-uppercase primary-navy mb-10">NEED HELP?</p>
        <h2 class="color-primary-dark mb-30">Haven’t found what <br class="d-none d-lg-block">you’re looking for? <br class="d-none d-lg-block">Contact us</h2>
      </div>
    </section>
    
    <section class="section block-form-contact">
      <div class="container"> 
        <div class="row"> 
          <div class="col-lg-5 mb-40 wow bounceIn"> 
            <h4>Address</h4>
            <p class="body-p2 neutral-medium-dark mb-45">KOCHI,VYTILLA HUB 678592</p>
            <h4 class="mb-20">Contact</h4>
            <p class="body-p2 neutral-medium-dark mb-10">Phone.  +1 8592959403</p>
            <p class="body-p2 neutral-medium-dark mb-45">Email.  voxly.com</p>
            <h4 class="mb-15">Hour of Operation</h4>
            <p class="body-p2 neutral-medium-dark mb-45">Mon - Fri: 08:30 - 20:00<br>Sat & Sun: 09:30 - 21:30</p>
          </div>
          <div class="col-lg-7 mb-40 wow bounceIn"> 
            <h4 class="mb-10">Get in Touch</h4>
            <p class="text-16-medium neutral-medium mb-30">Your email address will not be published. Required fields are marked *</p>
            <div class="row"> 
              <div class="col-lg-6 col-md-6 col-sm-6"> 
                <div class="form-group"> 
                  <input class="form-control" type="text" placeholder="Name *">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6"> 
                <div class="form-group"> 
                  <input class="form-control" type="text" placeholder="Email *">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6"> 
                <div class="form-group"> 
                  <input class="form-control" type="text" placeholder="Phone number">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6"> 
                <div class="form-group"> 
                  <input class="form-control" type="text" placeholder="Website">
                </div>
              </div>
              <div class="col-lg-12"> 
                <div class="form-group"> 
                  <textarea class="form-control" placeholder="Contents" rows="6"></textarea>
                </div>
              </div>
              <div class="col-lg-12"> 
                <div class="text-center mt-10"> 
                  <button class="btn btn-black">Post Comment</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section block-maps"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111551.9926412813!2d-90.27317134641879!3d38.606612219170856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sbd!4v1597926938024!5m2!1sen!2sbd" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>



{% endblock body %}