{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}CART{% endblock title %}
{% block body %}

<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="#">Home </a></li>
            <li> <a href="#">Cart Items</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section block-cart">
      <div class="container">
        {% for messages in messages  %}
            <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
            <strong></strong>{{messages}}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" >&times;</spam></button>
            </div>
        {% endfor %}
        <div class="row mt-20">
            <div class="col-lg-7">
                <div class="box-title-cart">
                    <h4>Your Cart</h4>
                    <h6>items</h6>
                </div>
                {% if not cart_items%}
                    <div class="list-items-cart">
                        <div class="row">
                            <h1>Shopping Cart is Empty!!!</h1>
                            </div>
                            <div class="row"style="height: 100px;">
                                
                            </div>
                            <div class="row mb-2">
                                    <a class="btn btn-border mb-2" href="/user_shop">Continue Shopping</a>
                                    <a class="btn btn-border" href="/user_wishlist"><i class="fa  fa-heart"></i> add from wishlist</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="list-items-cart">
                        {% for cart_item in cart_items %}
                            <div class="item-cart">
                            
                                <div class="item-cart-image"><img src="{{ cart_item.product.product_images.url }}" alt="Guza"></div>
                                <div class="item-cart-info">
                                <div class="item-cart-info-1"><a class="text-16-medium" href="{{ cart_item.product.get_url}}">{{cart_item.product.product_name}}</a>
                                    <div class="box-info-size-color-product">
                                        {% if cart_item.variations.all %}
                                            {% for item in cart_item.variations.all %}
                                                <p class="box-color"><span class="body-p2 neutral-medium-dark">{{ item.variation_category | capfirst }}:</span><span class="body-p2 neutral-dark">{{ item.variation_value | capfirst }} </span></p>
                                            {% endfor %}
                                            <br>
                                            <p class="body-p2">&#8377;&nbsp;{{cart_item.product.price}}</p>
                                        {% endif %}
                                    </div>
                                    <div class="box-form-cart">
                                        <div class="row">
                                            <div class="col">
                                                <div class="input-group-prepend">
                                                    <a href="{% url 'user_remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </a>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <input type="text" class="qty-val form-control" name="quantity" value="{{ cart_item.quantity }}">
                                            </div>

                                            <div class="col">
                                                <div class="input-group-append">
                                                    <form action="{% url 'user_add_cart' cart_item.product.id %}" method="POST">
                                                        {% csrf_token %}
                                                            {% for item in cart_item.variations.all  %}
                                                            <input type="hidden" name="{{item.variation_category| lower }}" value="{{item.variation_value | capfirst}}">
                                                            {% endfor %}
                                                        <button  class="btn btn-light"  type="submit" id="button-plus"> <i class="fa fa-plus"></i> </button>
                                                    </form>
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-cart-info-2">
                                    <p class="body-p2"></p>
                                </div>
                                <div class="item-cart-info-2">
                                    <p class="body-p2">&#8377;&nbsp;{{cart_item.sub_total}}</p><a  href="#" data-product-id="{{ cart_item.product.id }}" data-cart-item-id="{{ cart_item.id }}" class="btn-remove-cart"></a>
                                </div>
                                </div>
                            
                            </div>
                        {% endfor %}
                        <div class="box-coupon">
                                
                            <div class="coupon-left">
                                <form method="post" action="{% url 'user_apply_coupon' %}" id="couponForm">
                                    {% csrf_token %}
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input class="form-control input-coupon" type="text" id="couponInput" name="coupon_code" placeholder="Coupon code" data-toggle="modal" data-target="#couponModal">
                                        </div>
                                        <button type="submit" class="btn btn-border">Apply</button>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="coupon-right" style="padding-right: 5px;"><a class="btn btn-border" href="/user_shop">Update Cart</a></div>
                            <div ><a class="btn btn-border" href="/user_wishlist">Wishlist</a></div>
                        </div>
                        {% if applied_coupon_code %}
                                <div class="coupon-applied">
                                    <p>Coupon Applied: {{ applied_coupon_code }} - {{ applied_coupon_discount }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="?remove_coupon=1"><i class="fa fa-close"></i></a></p>
                                </div>
                        {% endif %}
                        <!-- Bootstrap Modal -->
                        <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="couponModalLabel">Coupon Code</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="couponSelect">Select a coupon:</label>
                                        <select id="couponSelect" class="form-control">
                                            <option value="">Coupons</option>
                                            {% for coupon in coupons %}
                                                <option value="{{ coupon.coupon_code }}">{{ coupon.coupon_code }} - {{ coupon.description }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="applyCouponBtn">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if cart_items%}
                <div class="col-lg-5">                        
                    <h4 class="mb-25">Cart Total</h4>
                    <div class="box-info-cart">
                        <div class="d-flex align-items-center justify-content-between box-border-bottom">
                        <h5 class="neutral-medium-dark">Subtotal</h5>
                        <h5 class="neutral-dark">&#8377;&nbsp;{{total}}</h5>
                        </div>
                        <div class="box-info-cart-inner">
                            <div class="cart__total" style="background-color: transparent;">
                                <ul>
                                    <li>Subtotal <span>&#8377;&nbsp;{{total}}</span></li>
                                    <li>Discount <span>-&nbsp;&nbsp;&#8377;&nbsp;{{applied_coupon_discount}}</span></li>

                                    <li>Total <span>&#8377;&nbsp;{{grand_total}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-button-cart"><a class="btn btn-black" href="/user_shipping">Proceed To Shipping</a></div>
                        {% comment %} <div class="box-other-link"><a class="text-17 link-green" href="#">Free shipping on orders over $200.00</a><a class="text-17" href="#">Continue Shopping</a></div> {% endcomment %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </section>
  </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(".btn-remove-cart").click(function (e) {
        e.preventDefault();
    
        var productId = $(this).data("product-id");
        var cartItemId = $(this).data("cart-item-id");
    
        // Construct the URL dynamically
        var url = `/user_remove_cart_item/${productId}/${cartItemId}/`;
    
        $.ajax({
            type: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function (data) {
                // Handle success (e.g., update the cart view)
                // You can use data to check if the item was successfully removed
                // For example, if data.success is true, you can update the cart UI
                // Remove the item from the cart UI without reloading the page
                $(e.target).closest("tr").remove(); // Remove the row containing the item from the cart table
            },
            error: function (error) {
                // Handle error
                console.log(error);
            }
        });
    });
    $(document).ready(function () {
        $(".button-minus").click(function (e) {
            e.preventDefault(); // Prevent the default form submission behavior
    
            var productId = $(this).data("product-id");
            var cartItemId = $(this).data("cart-item-id");
    
            var quantityInput = $(`.quantity-input[data-cart-item-id="${cartItemId}"]`);
    
            $.ajax({
                type: "POST",
                url: `/user_remove_cart/${productId}/${cartItemId}/`,
                data: {
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                success: function (data) {
                    // Handle success (e.g., update the cart view)
                    // You can use data to check if the item was successfully removed
    
                    // Update the quantity input value, ensuring it doesn't go negative
                    var currentQuantity = parseInt(quantityInput.val());
                    if (currentQuantity - 1 < 1) {
                        // Remove the item from the cart UI without reloading the page
                        $(e.target).closest("tr").remove(); // Remove the row containing the item from the cart table
                    } else {
                        // Update the quantity input value
                        quantityInput.val(currentQuantity - 1);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle AJAX error
                }
            });
        });
    });
</script>


<!-- JavaScript to update the hidden input field with the selected coupon code -->
<script>
    $(document).ready(function () {
        $("#applyCouponBtn").click(function () {
            // Get the selected coupon code from the select element in the modal
            var selectedCoupon = $("#couponSelect").val();
            
            // Update the hidden input field with the selected coupon code
            $("#couponInput").val(selectedCoupon);
            
            // Close the modal
            $("#couponModal").modal("hide");
        });
    });
</script>
<script>
    document.getElementById('couponForm').addEventListener('submit', function(event) {
        // Prevent the form from submitting normally
        event.preventDefault();
        
        // Get the value of the input field
        var couponCode = document.getElementById('couponInput').value;
        
        // You can now use the 'couponCode' variable to do something with the input value
        // For example, you can send it via AJAX or perform other operations
        console.log('Coupon Code:', couponCode);
        
        // Now, you can submit the form if needed
        this.submit();
    });
</script>

{% endblock %}