{% extends 'user_temp/base.html' %} 
{% load static %} 
{% block title%}OEDER DETAILS{%endblock title %}
{% block body %}

<main class="main">
  <section class="section block-banner-shop"> 
    <div class="container"> 
      <h1 class="text-56-medium">PROFILE</h1>
      <div class="breadcrumbs"> 
        <ul> 
          <li> <a href="/">Home </a></li>
          <li> <a href="/user_profile">Profile</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section block-content-shop">
      <div class="container">
          <div class="row">
            <div class="col-lg-4 pb-5">
              <!-- Account Sidebar-->
              <div class="author-card pb-3">
                <div
                  class="author-card-cover"
                  style="background-image: url('{% static 'img/about/about-us.jpg' %}')"
                >
                  <a
                    class="btn btn-style-1 btn-white btn-sm"
                    href="#"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="You currently have 290 Reward points to spend"
                  >
                    <i class="fa fa-award text-md"></i>&nbsp;Active
                  </a>
                </div>
                <div class="author-card-profile">
                  <div class="author-card-avatar">
                    <img src="{% static 'img/about/testimonial-author.jpg' %}" alt="" />
                  </div>
                  <div class="author-card-details">
                    <h5 class="author-card-name text-lg">{{request.user.username}}</h5>
                    <span class="author-card-position"
                      >Joined {{request.user.date_joined}}</span
                    >
                  </div>
                </div>
              </div>
              <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item " href="user_profile"><i class="fe-icon-user text-muted"></i>Profile Settings</a>
                    <a class="list-group-item " href="user_address"><i class="fe-icon-user text-muted"></i>Address</a>
                    <a class="list-group-item active " href="#"><i class="fe-icon-user text-muted"></i>Order details</a>
                    <a class="list-group-item " href="/user_change_password"><i class="fe-icon-user text-muted"></i>Change Password</a>
                    <hr>
                    <a class="list-group-item " href="/user_logout"><i class="fe-icon-user text-muted"></i>Logout</a>
                </nav>
              </div>
            </div>
            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5">
            <h2>My Orders</h2>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">Billing Name</th>
                    <th scope="col">Order Amount</th>
                    {% comment %} <th scope="col">Order Date</th> {% endcomment %}
                    <th scope="col">Payment Method</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Change Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                    <td><a href="{% url 'user_order_detailed_view' order.id %}">{{order.order_number}}</a></td>
                    <td>{{order.address.first_name | capfirst}}</td>
                    <td>{{order.order_total}}</td>
                    {% comment %} <td>{{order.created_at}}</td> {% endcomment %}
                    <td>{{order.payment.payment_method}}</td>
                    <td>{{order.status}}</td>
                    <td>
                            {% if order.status == 'Accepted' %}
                                <a href="{% url 'user_update_order_status' order.id 'Cancelled' %}" class="btn btn-danger">Cancel</a>
                            {% elif order.status == 'Delivered' %}
                                <a href="{% url 'user_update_order_status' order.id 'Return' %}" class="btn btn-warning">Return</a>
                            {% elif order.status == 'Returned' %}
                              Order Returned 
                            {% elif order.status == 'Cancelled' %}
                              Order Cancelled
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          
      </div>
      
  </section>
  
</main> 

{% endblock body %}
