{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}ABOUT{% endblock title %}
{% block body %}

<main class="main">
    <section class="section block-banner-about-1">
      <div class="container"> 
        <div class="text-center box-info-banner wow bounceIn">
          <h1>Believe in Our Quality <br class="d-none d-lg-block">and Luxurious Brands</h1>
        </div>
      </div>
    </section>

    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="{% static 'img/about/about-us.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Who We Are ?</h4>
                        <p>Contextual advertising programs sometimes have strict policies that need to be adhered too.
                        Let's take Google as an example.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Who We Do ?</h4>
                        <p>In this digital generation where information can be easily obtained within seconds, business
                        cards still have retained their importance.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Why Choose Us</h4>
                        <p>A two or three storey house is the ideal way to maximise the piece of earth on which our home
                        sits, but for older or infirm people.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section block-team">
      <div class="container"> 
        <div class="text-center wow bounceIn"> 
          <p class="text-17-medium text-uppercase mb-15 primary-navy">Meet the founders</p>
          <h3 class="mb-15">We're Supply Chain</h3>
        </div>
        <div class="row mt-60 wow zoomIn"> 
          <div class="col-lg-4">
            <div class="cardTeam"> 
              <div class="cardImage"><img src="assets/imgs/page/about1/team.png" alt="Guza"></div>
              <div class="cardInfo"> 
                <h6 class="cardTitle text-17-medium">Anna Madsen</h6>
                <p class="cardDesc text-17 neutral-medium-dark">Co-founder</p>
                <div class="socials"><a href="#"><img src="assets/imgs/page/about1/fb.svg" alt="Guza"></a><a href="#"><img src="assets/imgs/page/about1/insta.svg" alt="Guza"></a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cardTeam"> 
              <div class="cardImage"><img src="assets/imgs/page/about1/team2.png" alt="Guza"></div>
              <div class="cardInfo"> 
                <h6 class="cardTitle text-17-medium">Terry Kenter</h6>
                <p class="cardDesc text-17 neutral-medium-dark">Designer</p>
                <div class="socials"><a href="#"><img src="assets/imgs/page/about1/fb.svg" alt="Guza"></a><a href="#"><img src="assets/imgs/page/about1/insta.svg" alt="Guza"></a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cardTeam"> 
              <div class="cardImage"><img src="assets/imgs/page/about1/team3.png" alt="Guza"></div>
              <div class="cardInfo"> 
                <h6 class="cardTitle text-17-medium">Ruben Donin</h6>
                <p class="cardDesc text-17 neutral-medium-dark">Makerter</p>
                <div class="socials"><a href="#"><img src="assets/imgs/page/about1/fb.svg" alt="Guza"></a><a href="#"><img src="assets/imgs/page/about1/insta.svg" alt="Guza"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations"></span>
                        <p>I've always tried to stay true to myself and my values, whether it's on the field or off it. When I partner with a brand, it's essential for me that there's a genuine connection and shared values</p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/about/testimonial-author.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>LIONEL MESSI</h5>
                                <p>Professional Football Player</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="testimonial__pic set-bg" data-setbg="{% static 'img/about/testimonial-pic.jpg' %}"></div>
                </div>
            </div>
        </div>
    </section>
    
  </main>

    

{% endblock body %}