{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}VOXY{% endblock title %}
{% block body %}

<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="#">Cart</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section block-cart">
      <div class="container">
        <div class="row mt-20">
            {% if not cart_items%}
                <div class="list-items-cart">
                    <div class="row">
                        <div style="height: 400px; display: flex; justify-content: center; align-items: center;">
                            <img src="{% static 'img/icon/cartempty.png' %}" alt="voxy">
                        </div>
                        <h1 style="text-align: center; display: flex; justify-content: center; align-items: center; ">Shopping Cart is Empty!!!</h1>
                        </div>
                        <div class="row"style="height: 40px;">
                            
                        </div>
                        <div class="row mb-2">
                                <a class="btn btn-border mb-2" href="/user_shop">Continue Shopping</a>
                                <a class="btn btn-border" href="/user_wishlist"><i class="fa  fa-heart"></i> add from wishlist</a>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="col-lg-7">
                <div class="box-title-cart">
                    <h4>Your Cart</h4>
                    <h6>items</h6>
                </div>
                
                    <div class="list-items-cart">
                        {% for cart_item in cart_items %}
                            <div class="item-cart">
                                <div class="item-cart-image"><img src="{{ cart_item.product.product_images.url }}" alt="Guza"></div>
                                <div class="item-cart-info">
                                <div class="item-cart-info-1"><a class="text-16-medium" href="{{ cart_item.product.get_url}}">{{cart_item.product.product_name}}</a>
                                    {% if cart_item.product.quantity  <= 0  %}
                                    <br>
                                        <p class="box-color "style=" color: red;" >out of stock</p>
                                    {% endif %}
                                    <div class="box-info-size-color-product">
                                        {% if cart_item.variations.all %}
                                            {% for item in cart_item.variations.all %}
                                                <p class="box-color"><span class="body-p2 neutral-medium-dark">{{ item.variation_category | capfirst }}:</span>
                                                    <span class="body-p2 neutral-dark">{{ item.variation_value | capfirst }} </span></p>
                                            {% endfor %}
                                            <br>
                                        {% endif %}
                                        {% if cart_item.product.discount_percentage or cart_item.product.category.offer %}<p class="body-p2"><span class="price-line"><s>&#8377;&nbsp;{{ cart_item.product.price }}</s></span><br>
                                            <span class="price-main">&#8377;&nbsp;{{ cart_item.product.discount_price}}</span>
                                            </p>
                                            {% else %}
                                            <p class="body-p2"><span class="price-main">&#8377;&nbsp;{{ cart_item.product.price}}</span></p>
                                        {% endif %}
                                    </div>
                                    <div class="box-form-cart">
                                        <div class="row">
                                            <div class="col-3">
                                                    <a href="{% url 'user_remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light bg-white border-0" type="button" id="button-minus"> <i class="fa fa-minus"></i> </a>
                                            </div>

                                            <div class="col-4 ">
                                                <input type="text" class="qty-val form-control bg-white " name="quantity" value="{{ cart_item.quantity }}">
                                            </div>

                                            <div class="col-2 p-0">
                                                <form action="{% url 'user_add_cart' cart_item.product.id %}" method="POST">
                                                    {% csrf_token %}
                                                        {% for item in cart_item.variations.all  %}
                                                        <input type="hidden" name="{{item.variation_category| lower }}" value="{{item.variation_value | capfirst}}">
                                                        {% endfor %}
                                                    <button  class="btn btn-light bg-white border-0"  type="submit" id="button-plus"> <i class="fa fa-plus"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-cart-info-2">
                                    <p class="body-p2"></p>
                                    <a href="#" data-product-id="{{ cart_item.product.id }}" data-cart-item-id="{{ cart_item.id }}" class="btn-remove-cart1"><i class="fa fa-close"></i></a>
                                </div>
                                </div>
                            </div>
                            <div class="item-cart-info-2" >
                            <p class="body-p2"  style="text-align: right;">Total:&#8377;&nbsp;{{cart_item.sub_total}}</p>
                            </div>
                            <hr>
                        {% endfor %}
                        <form method="post" action="{% url 'user_apply_coupon' %}" id="couponForm">
                            {% csrf_token %}
                            <div class="box-coupon">
                                <div class="coupon-left">
                                    {% if applied_coupon_code %}
                                        <input class="form-control input-coupon" type="text" id="couponInput" name="coupon_code" placeholder="Coupon Applied: {{ applied_coupon_code }} - {{ applied_coupon_discount }}" data-toggle="modal" data-target="#couponModal">
                                        <a class="btn btn-border"  href="?remove_coupon=1">Remove</a>
                                    {% else %}
                                    <input class="form-control input-coupon" type="text" id="couponInput" name="coupon_code" placeholder="Coupon code" data-toggle="modal" data-target="#couponModal">
                                    <button type="submit" class="btn btn-border">Apply</button>
                                    {% endif %}
                                    
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col coupon-right" ><a class="btn btn-border" href="/user_shop">Shop</a></div>
                                    <div class="col coupon-right" ><a class="btn btn-border" href="/user_wishlist">Whislist</a></div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <br>
                        <!-- Bootstrap Modal -->
                        <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="couponModalLabel">Coupon Code</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="couponSelect">Select a coupon:</label>
                                        <select id="couponSelect" class="form-control">
                                            <option value="">Coupons</option>
                                            {% for coupon in coupons %}
                                                <option value="{{ coupon.coupon_code }}">{{ coupon.coupon_code }} - {{ coupon.description }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-border" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-black" id="applyCouponBtn">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if cart_items%}
                <div class="col-lg-5">                        
                    <h4 class="mb-25">Cart Total</h4>
                    <div class="box-info-cart">
                        <div class="d-flex align-items-center justify-content-between box-border-bottom">
                        <h5 class="neutral-medium-dark">Subtotal</h5>
                        <h5 class="neutral-dark">&#8377;&nbsp;{{total}}</h5>
                        </div>
                        <div class="box-info-cart-inner">
                            {% if applied_coupon_code %}
                            <div class="d-flex align-items-center justify-content-between box-border-bottom">
                                <h5 class="neutral-medium-dark">Discount</h5>
                                <h5 class="color-9">-&nbsp;&nbsp;&#8377;&nbsp;{{applied_coupon_discount}}</h5>
                            </div>
                            {% endif %}
                              <div class="d-flex align-items-center justify-content-between box-border-bottom">
                                <h5 class="neutral-medium-dark">Total</h5>
                                <h5 class="color-9">&#8377;&nbsp;{{grand_total}}</h5>
                              </div>
                        </div>
                        <div class="box-button-cart"><a class="btn btn-black" href="/user_shipping">Proceed To Shipping</a></div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </section>
  </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(".btn-remove-cart1").click(function (e) {
        e.preventDefault();

        var productId = $(this).data("product-id");
        var cartItemId = $(this).data("cart-item-id");
        var removeButton = $(this);

        // Show a SweetAlert confirmation dialog
        Swal.fire({
            title: 'Confirm Removal',
            text: 'Are you sure you want to remove this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, remove it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user confirms, proceed with removal
                var url = `/user_remove_cart_item/${productId}/${cartItemId}/`;

                // Perform a full page reload
                window.location.href = url;
            }
        });
    });
</script>

<!-- JavaScript to update the hidden input field with the selected coupon code -->
<script>
    $(document).ready(function () {
        $("#applyCouponBtn").click(function () {
            // Get the selected coupon code from the select element in the modal
            var selectedCoupon = $("#couponSelect").val();
            
            // Update the hidden input field with the selected coupon code
            $("#couponInput").val(selectedCoupon);
            
            // Close the modal
            $("#couponModal").modal("hide");
        });

        // Close the modal when the "Close" button is pressed
        $("#closeCouponBtn").click(function () {
            $("#couponModal").modal("hide");
        });
        
        // Add this part to close the modal when a value is selected in the dropdown
        $("#couponSelect").change(function () {
            // Close the modal when a value is selected
            $("#couponModal").modal("hide");
        });
    });
</script>


<script>
    document.getElementById('couponForm').addEventListener('submit', function(event) {
        // Prevent the form from submitting normally
        event.preventDefault();
        
        // Get the value of the input field
        var couponCode = document.getElementById('couponInput').value;
        
        console.log('Coupon Code:', couponCode);
        
        // Now, you can submit the form if needed
        this.submit();
    });
</script>


{% endblock %}