{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}HOME{% endblock title %}
{% block body %}


<main class="main">

    <section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url({% static 'img/hero/hero-1.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
								ANSIL RAHMAN
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									NEW SEASON
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="/user_shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'img/hero/1.gif' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									NEW SEASON
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Adidas Trae Young 1
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="/user_shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'img/hero/hero-4.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Nike Air Zoom Mercurial Vapor
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="/user_shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
                <div class="item-slick1" style="background-image: url({% static 'img/hero/hero-3.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									NEW Collection 
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Adidas Women's 2022 Champions League Ball
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="/user_shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>

	<section class="section box-categories"> 
        <div class="container"> 
          <div class="row align-items-center"> 
            <div class="col-lg-6 mb-20"> 
              <div class="cardCategoriesStyle1 wow fadeInUp"> 
                <div class="cardInfo"> 
                  <p class="tag-title text-16-medium mb-15">Boots Collection</p>
                  <h2 class="mb-30">Play with your heart</h2>
				          <p class="body-p2 mb-30"></p><a class="link-underline" href="/user_shop/category/boots/">Shop Now</a>

                </div>
                <div class="cardImage"> <img src="{% static 'img/banner/banner-1.jpg' %}" alt="Guza"></div>
              </div>
            </div>
            <div class="col-lg-6 mb-20"> 
              <div class="cardCategoriesStyle1 bg-1 wow fadeInUp"> 
                <div class="cardInfo"> 
                  <p class="tag-title text-16-medium mb-15">Football Collection</p>
                  <h2 class="mb-30">"Game ON</h2><a class="link-underline" href="/user_shop/category/football/">Shop Now</a>
                </div>
                <div class="cardImage"> <img src="{% static 'img/banner/banner-2.jpg' %}" alt="Guza"></div>
              </div>
            </div>
            <div class="col-lg-8 mb-20">
              <div class="cardCategoriesStyle1 cardCategoriesStyle2 bg-7 wow fadeInUp"> 
                <div class="cardInfo">
                  <div class="box-content-middle"> 
                    <h2 class="mb-10">"Defend <br class="d-none d-lg-block"> with Confidence"</h2>
                    <p class="body-p2 mb-30"> -Manuel Neuer</p><a class="link-underline" href="/user_shop/category/gloves/">Shop Now</a>
                  </div>
                </div>
                <div class="cardImage"> <img src="{% static 'img/banner/banner-3.jpg' %}" alt="Guza" style="width: 1500px; height: 100%;"></div>
              </div>
            </div>
            <div class="col-lg-4 mb-20"> 
              <div class="cardCategoriesStyle3 wow fadeInUp">
                <div class="cardInfo"> 
                  <h2 class="mb-30">Discover the full category</h2><a class="link-underline-white" href="/user_shop">Shop Now</a>
                </div>
                <div class="cardImage" style="background-image: url({% static 'img/banner/banner-4.jpg' %})"></div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section block-collection-1"> 
      <div class="container"> 
        <div class="">
          <div class="row align-items-center"> 
            <div class="col-lg-6 wow fadeInLeft">
              <video id="videoPlayer" src="{% static 'img/vedio1.mp4' %}" autoplay loop style="width: 100%;" muted></video>
            </div>            
            <div class="col-lg-6">
              <div class="box-info-collection-1 wow fadeInDown">
                <h2 class="text-48-semibold mb-15">2023 Collection</h2>
                <p class="body-p2 mb-30">Thelma shoes are handmade by expert Italian artisans dedicated to preserving inherited techniques.</p><a class="btn btn-black" href="#">View Collection</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section icon-box-type1 wow fadeInUp"> 
      <div class="container"> 
        <div class="row"> 
          <div class="col"> 
            <div class="box-icon-type-1"> 
              <div class="item-image"> <img src="{% static 'assets/imgs/page/homepage3/ship.svg'%}" alt="Guza"></div>
              <div class="item-info"> <span class="text-18">Free Shipping</span></div>
            </div>
          </div>
          <div class="col"> 
            <div class="box-icon-type-1"> 
              <div class="item-image"> <img src="{% static 'assets/imgs/page/homepage4/return.svg'%}" alt="Guza"></div>
              <div class="item-info"> <span class="text-18">60 - Days of Return</span></div>
            </div>
          </div>
          <div class="col"> 
            <div class="box-icon-type-1"> 
              <div class="item-image"> <img src="{% static 'assets/imgs/page/homepage4/payment.svg'%}" alt="Guza"></div>
              <div class="item-info"> <span class="text-18">Security Payment</span></div>
            </div>
          </div>
          <div class="col"> 
            <div class="box-icon-type-1"> 
              <div class="item-image"> <img src="{% static 'assets/imgs/page/homepage4/cart.svg'%}" alt="Guza"></div>
              <div class="item-info"> <span class="text-18">Order Tracking</span></div>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var video = document.getElementById("videoPlayer");

    video.addEventListener("click", function() {
      if (video.muted) {
        video.muted = false;
      } else {
        video.muted = true;
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var video = document.getElementById("videoPlayer");
    var options = {
      root: null,
      rootMargin: "0px",
      threshold: 0.5 // Change this threshold as needed
    };

    var observer = new IntersectionObserver(function(entries) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          video.play();
        } else {
          video.pause();
        }
      });
    }, options);

    observer.observe(video);
  });
</script>

{% endblock body %}