{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %}DASHBOARD{% endblock title %}
{% block body %}

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin_index" class="brand-wrap">
                <img src="{% static 'img/voxy.png' %}" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active ">
                    <a class="menu-link" href="/admin_index"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_category"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_coupons"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin_users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users List</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin_review"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
            </ul>
            
        </nav>
    </aside>
    <main class="main-wrap">

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong>{{ message }}
            <button type="button" class="close" onclick="dismissAlert(this)">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard </h2>
                        <p>Whole data about your business here</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <span>&#8377;&nbsp;{{total_revenue}}</span>
                                    <span class="text-sm">
                                        Total Revenue
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6> <span>{{total_orders}}</span>
                                    <span class="text-sm">
                                        Total orders
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6> <span>{{total_products}}</span>
                                    <span class="text-sm">
                                        From all Categories
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Sale statistics</h5>
                                <canvas id="myChart" height="120px"></canvas>
                            </article>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Monthly Revenue</h5>
                                <ul class="verti-timeline list-unstyled font-sm">
                                    {% for report in monthly_report %}
                                    <li class="event-list">
                                        <div class="event-timeline-dot">
                                            <i class="material-icons md-play_circle_outline font-xxl"></i>
                                        </div>
                                        <div class="media">
                                            <div class="me-3">
                                                <h6><span>{{ report.month|date:"F Y"}}</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    Total Revenue&#8377;&nbsp;{{report.total_revenue}}
                                                </div>
                                                
                                                <div>
                                                    orders:{{report.total_orders}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <h4 class="card-title">Latest orders</h4>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Order ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Mob Number</th>
                                            <th scope="col">Total Amount</th>
                                            <th scope="col">Payment Method</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"> Order Date</th>
                                            <th scope="col"> View Details </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in last_orders %}
                                        <tr >
                                            <td>{{order.order_number}}</td>
                                            <td><b>{{order.address.first_name | capfirst}} {{order.address.last_name | capfirst}}</b></td>
                                            <td>{{order.address.phone}}</td>
                                            <td>{{order.order_total}}</td>
                                            <td>{{order.payment.payment_method}}</td>
                                            <td>
                                                {% if order.status == 'Delivered' %}
                                                    <span class="badge rounded-pill alert-success">Deliverd</span>
                                                {% elif order.status == 'Order Placed' %}
                                                    <span class="badge rounded-pill alert-success">Placed</span>
                                                {% elif order.status == 'Shipped' %}
                                                    <span class="badge rounded-pill alert-warning">Shipped</span>
                                                {% elif order.status == 'Cancelled' %}
                                                    <span class="badge rounded-pill alert-danger">Cancelled</span>
                                                {% elif order.status == 'Returned' %}
                                                    <span class="badge rounded-pill alert-danger">Returned</span>
                                                {% elif order.status == 'Return Pending' %}
                                                    <span class="badge rounded-pill alert-danger">Return Pending</span>
                                                {% endif %}
                                            </td>
                                            
                                            <td>{{order.created_at}}</td>
                                            <td>
                                                <a href="{% url 'admin_order_details' order.id %}" class="btn btn-xs"> View details</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- table-responsive end// -->
                    </div>
                </div>
                
                
            </section>
    </main>       

{% endblock body %}