{% extends 'admin_temp/base.html' %}
{% load static %}
{% block title %}VOXY{% endblock title %}
{% block body %}

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin_index" class="brand-wrap">
                <img src="{% static 'img/voxy.png' %}" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin_index"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_category"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin_products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin_coupons"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin_users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users List</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin_review"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin_contact"> <i class="icon material-icons md-announcement"></i>
                        <span class="text">Contacts</span>
                    </a>
                </li>
            </ul>
            
        </nav>
    </aside>
    <main class="main-wrap">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong>{{ message }}
            <button type="button" class="close" onclick="dismissAlert(this)">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                </div>
                <div>
                    <a href="/admin_add_product" class="btn btn-primary btn-sm rounded">Add Product</a>
                </div>
            </div>
            <div class="card mb-4">
                {% comment %} <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Boots</option>
                                <option>Football</option>
                                <option>Gloves</option>
                            </select>
                        </div>
                    </div>
                </header>  {% endcomment %}
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    {% comment %} <th scope="col">Slug</th> {% endcomment %}
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    {% comment %} <th scope="col">Description</th> {% endcomment %}
                                    <th scope="col">Stock</th>
                                    <th scope="col">Quatity</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>

                                </tr>
                            </thead>
                            <tbody >
                                {% for product in products %}
                                <tr class="itemlist">
                                    <td class="align-middle">
                                        {{product.id}}
                                    </td>
                                    <td class="align-middle">
                                        <a class="itemside" href="{% url 'admin_edit_product' product_id=product.id %}">
                                            <div class="left">
                                            {% if product.product_images %}
                                                <img src="{{ product.product_images.url }}" class="img-sm img-thumbnail" alt="Item">
                                            {% else %}
                                                <p>No image available</p>
                                            {% endif %}                                            
                                            </div>
                                            <div class="info">
                                                <h6 class="mb-0">{{product.product_name}}</h6>
                                            </div>
                                        </a>
                                    </td>
                                    {% comment %} <td class="align-middle">
                                        {{product.slug}}
                                    </td> {% endcomment %}
                                    <td class="align-middle">
                                        {{product.category}}
                                    </td>
                                    <td class="align-middle">
                                        {{product.price}}
                                    </td>
                                    {% comment %} <td class="align-middle">
                                        {{product.description}}
                                    </td> {% endcomment %}
                                    {% if product.quantity <= 0 %}
                                    <td class="align-middle">
                                        <span class="badge rounded-pill alert-warning">Out of stock</span>
                                    </td>
                                    {% else %}
                                    <td class="align-middle">
                                        <span class="badge rounded-pill alert-success">InStock</span>
                                    </td>
                                    {% endif %}
                                    <td class="align-middle">
                                        <span class=>{{product.quantity}}</span>
                                    </td>
                                    {% if product.soft_deleted %}
                                    <td class="align-middle"><span class="badge rounded-pill alert-danger">inactive</span></td>
                                    <td class="align-middle">
                                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                            {% if product.category.soft_deleted %}
                                            <a href="{% url 'admin_unlist_list_product' product_id=product.id %}" class="btn btn-sm font-sm btn-danger rounded" style="pointer-events: none; opacity: 0.5;">
                                                Enable
                                            </a>
                                            
                                            {% else %}
                                            <a href="{% url 'admin_unlist_list_product' product_id=product.id %}" class="btn btn-sm font-sm btn-danger rounded" >
                                                Enable
                                            </a>
                                            
                                            {% endif %}
                                            
                                        </div>
                                    </td>
                                    {% else %}
                                    <td class="align-middle"><span class="badge rounded-pill alert-success">active</span></td>
                                    <td class="align-middle">
                                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                            <a href="{% url 'admin_unlist_list_product' product_id=product.id %}" class="btn btn-sm font-sm rounded btn-brand">
                                                Disable
                                            </a>
                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div>
            </div>
            <div class="text-center" style="display: flex; justify-content: center; align-items: center;">
                <nav class="box-pagination">
                  <ul class="pagination">
                      {% if products.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&larr;</a></li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#">&larr;</a></li>
                      {% endif %}
          
                      {% for i in products.paginator.page_range %}
                          {% if products.number == i %}
                          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                      {% endfor %}
          
                      {% if products.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&rarr;</a></li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#">&rarr;</a></li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        </section>
    </main>

{% endblock body %}